{% macro slm_policy(policy) %}
{% include "./elasticsearch/config/backup_policy.json.j2" %}
{% endmacro %}

{% macro snapshot_repository(repo) %}
{% include "./elasticsearch/config/snap_repo.json.j2" %}
{% endmacro %}
{
  "info": {
    "name": "Configure elasticsearch",
    "schema": "https://schema.getpostman.com/json/collection/v2.0.0/collection.json"
  },

  "item" : [
    {% for index_template in es_index_templates %}
    {
      "id" : "template-{{ index_template.name }}-delete",
      "name" : "Remove existing {{ index_template.name }} index template",
      "request" : {
        "method" : "DELETE",
        "url" : "{{ es_endpoint }}/_index_template/{{ index_template.name }}"
      }
    },
    {
      "id" : "template-{{ index_template.name }}-create",
      "name" : "Index template {{ index_template.name }}",
      "request" : {
        "method" : "PUT",
        "url" : "{{ es_endpoint }}/_index_template/{{ index_template.name }}",
        "header" : "Content-Type: application/json",
        "body" : {
          "mode" : "raw",
          "raw" : {{ lookup('template', './elasticsearch/config/' ~ index_template.file, convert_data=False) | tojson }}
        }
      },
      "event": [{
        "listen": "test",
        "script": {
          "type": "text/javascript",
          "exec": [
            "pm.test('expect response be 200', function () {",
            "    pm.response.to.be.ok",
            "})"
          ]
        }
      }]
    },
    {% endfor %}
    {
      "id" : "slm-policy-delete",
      "name" : "Remove all existing SLM policy",
      "request" : {
        "method" : "DELETE",
        "url" : "{{ es_endpoint }}/_slm/policy/*"
      }
    },
    {
      "id" : "snap-repo-delete",
      "name" : "Remove all existing snapshot repository",
      "request" : {
        "method" : "DELETE",
        "url" : "{{ es_endpoint }}/_snapshot/*"
      }
    },
    {% for repo in es_snapshot_repositories %}
    {
      "id" : "snap-repo-{{ repo.name }}-create",
      "name" : "Create snapshot {{ repo.name }} repository",
      "request" : {
        "method" : "PUT",
        "url" : "{{ es_endpoint }}/_snapshot/{{ repo.name }}",
        "header" : "Content-Type: application/json",
        "body" : {
          "mode" : "raw",
          "raw" : {{ snapshot_repository(repo) | tojson }}
        }
      },
      "event": [{
        "listen": "test",
        "script": {
          "type": "text/javascript",
          "exec": [
            "pm.test('expect response be 200', function () {",
            "    pm.response.to.be.ok",
            "})"
          ]
        }
      }]
    },
    {% endfor %}
    {% for policy in es_slm_policies %}
    {
      "id" : "slm-policy-{{ policy.name }}-create",
      "name" : "Create SLM {{ policy.name }} policy",
      "request" : {
        "method" : "PUT",
        "url" : "{{ es_endpoint }}/_slm/policy/{{ policy.name }}",
        "header" : "Content-Type: application/json",
        "body" : {
          "mode" : "raw",
          "raw" : {{ slm_policy(policy) | tojson }}
        }
      },
      "event": [{
        "listen": "test",
        "script": {
          "type": "text/javascript",
          "exec": [
            "pm.test('expect response be 200', function () {",
            "    pm.response.to.be.ok",
            "})"
          ]
        }
      }]
    }{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
}
